@inherits LayoutComponentBase

<RadzenLayout>
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="2">
            <RadzenSidebarToggle Click="@(() => sidebarExpanded = !sidebarExpanded)" />
        </RadzenStack>
    </RadzenHeader>
    <RadzenSidebar Responsive="false" Style="width: max-content">
        <RadzenPanelMenu DisplayStyle="@(sidebarExpanded ? MenuItemDisplayStyle.IconAndText : MenuItemDisplayStyle.Icon)" ShowArrow="false">
            <RadzenPanelMenuItem Text="Dashboard" 
                                 Icon="dashboard" 
                                 Title="Dashboard" />
            <RadzenPanelMenuItem Text="Filings" Icon="folder">
                <RadzenPanelMenuItem Text="Missed Logs" 
                                     Icon="edit_note"
                                     Title="Missed Logs"/>
                <RadzenPanelMenuItem Text="Official Business" 
                                     Icon="work"
                                     Title="Official Business"/>
                <RadzenPanelMenuItem Text="Overtime" 
                                     Icon="schedule"
                                     Title="Overtime"/>
                <RadzenPanelMenuItem Text="Offset" 
                                     Icon="history"
                                     Title="Offset"/>
                <RadzenPanelMenuItem Text="Time Off" 
                                     Icon="flight_takeoff"
                                     Title="Time Off"/>
            </RadzenPanelMenuItem>
        </RadzenPanelMenu>
    </RadzenSidebar>
    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
    <RadzenFooter>
        JSys Suite - Human Resource Information System. Version 1.0.0.0
    </RadzenFooter>
</RadzenLayout>

@code {
    bool sidebarExpanded = true;
}